{% extends "base.html" %}
{% block title %}Iniciar Sesión{% endblock %}
{% block header %}SafeData Intelligence{% endblock %}
{% block content %}


<style>
  body {background: linear-gradient(172deg, #0b9472 0%, #004042 100%); 
    background-image: url(../static/img/bg-login.jpg);
    background-size: cover;
    background-position: center center;}
  
  .h2 {color: #fff !important;}

  .text-muted {color: #fff !important}
  main {padding: 0px 20px !important;}
  .btn {border: 1px solid #00dd77; color: #00dd77}
  .btn:hover {background: #00dd77; color: #014344 !important; border: 1px solid #00dd77}
  .btn-primary {background-color: #00dd77; border: 1px solid #00dd77; color: #014344}
  .btn-primary:hover {background-color: #014344; border: 1px solid; color: #fff !important;}


</style>

<link rel="stylesheet" href="/static/css/iniciar_sesion.css" />
<div class="login-wrapper">
  <div class="card p-4 shadow-sm" style="max-width: 380px; width: 100%;">
    <h5 class="mb-3">Acceso</h5>
    {% if error %}<div class="alert alert-danger">{{ error }}</div>{% endif %}
    <form method="post" action="/login">
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input class="form-control" type="email" name="email" required />
      </div>
      <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <input class="form-control" type="password" name="password" required autocomplete="current-password" maxlength="72" />
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">Ingresar</button>
        <a class="btn btn-link" href="/forgot-password">Olvidaste tu Contraseña?</a>
      </div>
    </form>
  </div>
  <div class="login-hint text-muted">Usuario Autorizados</div>
  <div class="login-hint text-muted">Gerente General (Admin): admin@demo.local / Admin123!</div>
  <div class="login-hint text-muted">Encargado SipCop: sipcop@demo.local / Sipcop123!</div>
  <div class="login-hint text-muted">Jefe de Centro de Operaciones: operaciones@demo.local / Operaciones123!</div>
  <div class="login-hint text-muted">Analista de Operaciones: analista@demo.local / Analista123!</div>
  
</div>
{% endblock %}

